$def with (posts, ifactive)
<div class="container-fluid bg-light">
    <img src="/static/images/firstpage2.jpg" class="solid-pic card-img-top" alt="...">
    <div class="card-deck">
        $for post in posts:
        <div class="card">
            <img src="$post['image']" class="card-img-top" style="height: 200px" alt="...">
            <div class="card-body">
                <h5 class="card-title">$post['title']</h5>
                <p class="card-text overflow-hidden">$post['article']</p>
                <p class="card-text"><small class="text-muted">$post['dateAdded']</small></p>

            </div>
        </div>
    </div>
</div>


